* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    /* background: #f0faff; */
}

.profile {
    position: relative;
    max-width: 470px;
    width: 100%;
    border-radius: 12px;
    padding: 20px 30px 100px;
    /* background: #4070f4; */
    background: #ee1c47;
    /* background: radial-gradient(#fff, #f09bac50); */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.login {
    position: absolute;
    left: 50%;
    bottom: -86%;
    transform: translateX(-50%);
    width: calc(100% + 220px);
    height: 100%;
    padding: 10px 140px;
    border-radius: 50%;
    background: #fff;
    transition: all 0.6s ease;
}

.profile.active .login {
    bottom: -15%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 35%;
}

.form h4 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.login h4 {
    color: #333;
    opacity: 0.6;
}

.profile.active .login h4 {
    opacity: 1;
}

.profile.active .Singup h4 {
    opacity: 0.6;
}

.profile form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 40px;
}

form input {
    height: 50px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    /* color: #333; */
    border-radius: 8px;
    background: #fff;
}

.login input {
    border: 1px solid #aaa;
}

.login input:focus {
    box-shadow: 0 1px 0 #ddd;
}

form .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox input[type="checkbox"] {
    height: 16px;
    width: 16px;
    accent-color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

form .checkbox label {
    color: #fff;
    cursor: pointer;
}

form a {
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

form input[type="submit"] {
    margin-top: 15px;
    padding: none;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.login input[type="submit"] {
    background: #ee1c47;
    color: #fff;
    border: none;
}